.gradient-background {
    background: linear-gradient(45deg, #213555, #d8c4b6, #3e5879);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h2 {
    color: #213555 ;
}

h3 {
    color: #3e5879;
} 

#about-me .feature > p {
    margin-top: 1rem;
}

#resume {
    background-color: #f5efe7;
}

#contact {
    background-color: #f5efe7;
}

#contact p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.nav-link {
    color: #213555;
}